.slick-list {
  max-height: 700px;
}
@media (min-width: 2000px) {
  .main {
    margin-top: 0;
  }
   .grid {
    width: 1920px;
  } 
}
@media (max-width: 1460px) {
  .header__topmenu,
  .header__block,
  .main__inquire-area,
  .footer__area,
  .main__care-area,
  .main__advantages-area,
  .main__blocks,
  .main__description-block-right,
  .main__description-block-left,
  .request__blocks,
  .request__product-forms,
  .request__destination,
  .request-header-content {
    width: 100%;
    grid-column: 2/14;
  }
}
@media (max-width: 1336px) {
  .main {
    margin-top: calc(200px + 7%);
  }
  .request {
    margin-top: 0;
  }
}
@media (max-width: 1212px) {
  .white-circle {
    margin-top: -245px;
  }
  .products-form {
    padding: 20px;
  }
}
@media (max-width: 1200px) {
  .header__block {
    width: 100%;
    grid-column: 1/15;
    top: 80%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .main {
    margin-top: calc(200px + 14%);
  }
  .request {
    margin-top: 0;
  }
}
@media (max-width: 1077px) {
  .white-circle {
    margin-top: -269px;
  }
}
@media (max-width: 1024px) {
  .header__block,
  .main__inquire-area,
  .footer__area,
  .main__care-area,
  .main__advantages-area,
  .main__blocks,
  .main__description-block-right,
  .main__description-block-left,
  .request__blocks,
  .request__product-forms,
  .request__destination {
    width: 100%;
    grid-column: 1/15;
  }
  .white-circle {
    margin-top: -245px;
  }
  .main__description-block-right,
  .main__description-block-left,
  .main__description-image {
    flex-basis: 50%;
    padding: 10px;
  }
  .header__topmenu {
    padding: 0 10px;
  }
  .header__block {
    padding: 20px 10px 30px 10px;
  }
}
@media (max-width: 980px) {
  .footer__area {
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 10px;
  }
  .row-between {
    margin-top: 50px;
  }
}
@media (max-width: 923px) {
  .white-circle {
    margin-top: -269px;
  }
}
@media (max-width: 943px) {
  .white-circle {
    margin-top: -269px;
  }
  .main {
    margin-top: calc(200px + 18%);
  }
  .request {
    margin-top: 0;
  }
}
@media (max-width: 900px) {
  .header__content-title {
    font-size: 350%;
  }
  .header__content-subtitle {
    font-size: 250%;
  }
  .main__description-block-right,
  .main__description-block-left {
    grid-template-columns: 1fr;
    justify-self: flex-start;
    padding: 10px;
  }
  .main__image-block-right,
  .main__image-block-left {
    justify-self: flex-start;
  }
  .main__image-block-left {
    grid-row: 2;
  }
  .main__inquire-area {
    grid-template-columns: 1fr 1fr;
  }
  .main__testimonials-slider {
    grid-column: 2/14;
  }
  .white-circle {
    margin-top: -197px;
  }
  .main__testimonials-slider-block {
    padding: 0 10px;
  }
}
@media (max-width: 816px) {
  .white-circle {
    margin-top: -220px;
  }
}
@media (max-width: 650px) {
  .padding-both-vertical {
    padding: 40px 10px;
  }
  .row-between {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
}
@media (max-width: 540px) {
  .main__inquire-area {
    grid-template-columns: 1fr;
  }
  .white-circle {
    margin-top: -197px;
  }
  .main__advantages-area {
    flex-wrap: wrap;
  }
  .advantages-block-stripe {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
