.footer{
    grid-column: 1/15;
    width: 100%;
    background: var(--color-black);
    margin-bottom:10px;
}
.footer__area{
    
    width: 100%;
    grid-column: 3/13;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
